<div class="featured-route basic-card card-shadow">
  <div class='likes'>
    <i class="fas fa-heart"></i>
    <span class="likes-count"> <%= route.likes_count %> </span>
  </div>
  <a class="three-d-link" href="/rides/<%= route.id %>/three_d" title="View in 3D"><%= image_tag "3d.png", alt: "3D" %></a>
  <div class="featured-route-content">
    <div class="small-screen-title">
      <%= link_to ride_path(route) do %>
        <div>
          <% if route.ride_type == 'cycling' %>
            <i class="fas fa-bicycle fa-lg"></i>
          <% else %>
            <i class="fas fa-hiking fa-lg"></i>
          <% end %>
          &nbsp;
          <%= route.title %>
          &nbsp;
          <% if route.ride_type == 'cycling' %>
            <i class="fas fa-bicycle fa-lg fa-flip-horizontal"></i>
          <% else %>
            <i class="fas fa-hiking fa-lg fa-flip-horizontal"></i>
          <% end %>
        </div>
      <% end %>
      <div style="margin-bottom: 0;">A <%= route.ride_type %> route in <%= route.start_location_en || 'a secret location' %></div>
    </div>
    <div class="slideshow" data-urls="<%= route.featured_images %>">
      <div class="slideshow-image">
        <% if route.featured_images.size > 1 %>
          <i class="fas fa-chevron-left fa-lg"></i>
          <i class="fas fa-chevron-right fa-lg"></i>
        <% end %>
      </div>
    </div>
    <div class="featured-route-text-content">
      <div class="big-screen-title">
        <%= link_to ride_path(route) do %>
          <div>
            <% if route.ride_type == 'cycling' %>
              <i class="fas fa-bicycle fa-lg"></i>
            <% else %>
              <i class="fas fa-hiking fa-lg"></i>
            <% end %>
            &nbsp;
            <%= route.title %>
            &nbsp;
            <% if route.ride_type == 'cycling' %>
              <i class="fas fa-bicycle fa-lg fa-flip-horizontal"></i>
            <% else %>
              <i class="fas fa-hiking fa-lg fa-flip-horizontal"></i>
            <% end %>
          </div>
          <% end %>
        <div style="margin-bottom: 0;">A <%= route.ride_type %> route in <%= route.start_location_en || 'a secret location' %></div>
      </div>
      <ul class="route-stats">
        <li>
          <span class="weight-four">
            Created by:
          </span>
          <%= link_to route.user.username , profile_path(route.user.profile) %>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <span class="weight-four">
            Distance:
          </span>
          <%= route.distance&.to_i %> km
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <span class="weight-four">
            Elevation Gain:
          </span>
          <%= route.elevation_gain&.to_i %> m
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
          <span class="weight-four">
            Max Elevation:
          </span>
          <%= route.max_elevation&.to_i %> m
        </li>&nbsp;
      </ul>
      <p>
        <%= route.description %>
      </p>
    </div>
  </div>
</div>
