<div class="hero">
  <%= render 'shared/logo' %>
  <div class="how-it-works">
    <div class="basic-card">
      <h2><%= link_to 'Make Maps', new_ride_path, class: 'link-underline' %></h2>
      <%= image_tag 'maps.png', alt: 'map' %>
      <p>Use our <%= link_to 'map editor', new_ride_path, class: 'link-underline' %> to plan adventures, analyze terrain, and export routes to your GPS device.</p>
    </div>
    <div class="basic-card">
      <h2><%= link_to 'Explore In 3D', three_d_demo_path, class: 'link-underline' %></h2>
      <%= image_tag 'tddemo.png', alt: '3D Screen Shot' %>
      <p>Explore Japan's beautiful mountains in 3D. Click <%= link_to 'here', three_d_demo_path, class: 'link-underline' %> to start exploring.</p>
    </div>
    <div class="basic-card">
      <h2><%= link_to 'Find Adventures', find_a_ride_path, class: 'link-underline' %></h2>
      <%= image_tag 'adventure.png', alt: 'Adventures' %>
      <p>Use maps that other users have made to start planning your own adventures.</p>
    </div>
  </div>
  <div class="featured-routes-container">
    <h2 class="cool-font forty-two" style="margin-top: 16px;">Featured Routes</h2>
    <% @featured_routes.each do |route| %>
      <%= render 'shared/featured_route', route: route %>
    <% end %>
  </div>
  <div class="spacer"></div>
  <footer>
    <span>©2022 Japan Adventure Maps</span>
    <p></p>
  </footer>
</div>
