<div class="hero">
  <%= render 'shared/logo' %>
  <div class="how-it-works">
    <div class="basic-card">
      <h2><%= link_to 'Make Maps', new_ride_path, class: 'link-underline' %></h2>
      <%= image_tag 'maps.png', alt: 'map' %>
      <p>Use our <%= link_to 'map editor', new_ride_path, class: 'link-underline' %> to plan adventures, analyze terrain, and export routes to your GPS device.</p>
    </div>
    <div class="basic-card">
      <h2><%= link_to 'Find adventures', find_a_ride_path, class: 'link-underline' %></h2>
      <%= image_tag 'adventure.png', alt: 'Adventures' %>
      <p>Use maps that other users have made to start planning your own adventures.</p>
    </div>
    <div class="basic-card">
      <h2><a href="#" class="link-underline">Rate Routes</a></h2>
      <%= image_tag 'like.png', alt: 'like' %>
      <p>Rate roads, trails, routes, camp sites, mountains and more. Contribute to Japan's only outdoor adventure database.</p>
    </div>
  </div>
  <div class="spacer"></div>
  <footer>
    <span>©2022 Pedal Party</span>
    <p></p>
  </footer>
</div>
